#btn-ok {
    background-color: #23C423;
}

mat-card {
    padding: 1%;
}

.content {
    min-width: 400px;
}

.espacio {
    height: 2vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.formulario-campo {
    width: 100%;
    color: white;
}

.formulario-botones {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 4vh;
}

/*++++++++++++  Material Input Color  ++++++++++++*/

::ng-deep .mat-form-field .mat-form-field-label {
    /** Change label color on label **/
    color: #9da1aa !important;
}

::ng-deep .mat-form-field-underline {
    /** Change color of underline **/
    background-color: #c3c3c3 !important;
} 

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    /** Change label color on focused **/
    color: #9da1aa !important;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
    /** underline border color on focused **/
    background-color: white !important;
}

::placeholder { 
    color: #c3c3c3;
}