

<button mat-button [matMenuTriggerFor]="menus">
    <mat-icon>drag_indicator</mat-icon>
</button>
<mat-menu #menus="matMenu">

  <button mat-menu-item [matMenuTriggerFor]="oferta">
    <mat-icon>{{ menuOferta.matIcono }}</mat-icon>
    <span>{{ menuOferta.titulo }}</span>
  </button>

</mat-menu>

<mat-menu #oferta="matMenu">

  <button routerLink="/offer/add" mat-menu-item>
    <mat-icon>{{ menuAgregarOferta.matIcono }}</mat-icon>
    <span>{{ menuAgregarOferta.titulo }}</span>
  </button>

  <button routerLink="/offer/list" mat-menu-item>
    <mat-icon>{{ menuListarOfertas.matIcono }}</mat-icon>
    <span>{{ menuListarOfertas.titulo }}</span>
  </button>
</mat-menu>





